body {
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: Arial, sans-serif;
    background-image: url('img/background.png');
}

title,
h1,
a,
h2,
h3 {
    font-family: 'Courgette', cursive;
}

a {
    color: #FFF;
    text-decoration: none;
    background-color: #C55394;
}

h3 {
    color: #EB43A3;
}


/*Header*/

header {
    width: 100%;
    margin: -1.5%;
    padding: 0 1%;
    display: inline;
    position: fixed;
    background-color: #C55394;
}

nav {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

nav h1 {
    width: 40%;
    float: left;
    justify-content: center;
}

nav ul {
    width: 60%;
    justify-content: right;
}

nav ul li {
    float: right;
    margin-top: 1%;
    padding-left: 10pt;
    padding-right: 10pt;
    list-style-type: none;
}


/*for outset*/

a:hover {
    background-color: #EB43A3;
}


/*contenu*/

#titre {
    padding: 7% 0;
    color: #C55394;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("img/rainbow.png");
}

h2 {
    color: #EB43A3;
}

.licornes {
    justify-content: center;
    list-style-position: unset;
}

.plan {
    border-style: solid;
    border-radius: 10pt;
    border-color: gray;
    background-color: #FFF;
    margin: 0px 125px 26px 125px;
    padding: 45px 24px 45px 24px;
}


/*figure*/

figure {
    flex-wrap: wrap;
    margin: 0px auto;
    flex-flow: column;
    flex-direction: row;
    display: inline-flex;
    padding: 0px 3px 0px 13px;
    align-content: space-between;
    justify-content: space-evenly;
    /*   width: 25%;*/
}

figcaption {
    color: #FFF;
    text-align: center;
    background-color: #333;
}

img {
    width: 13rem;
}

.noustrouver {
    display: inline-flex;
    justify-content: center;
}

.nous_trouver_map {
    padding-right: 10pt;
    align-content: flex-start;
}

.nous_trouver_address {
    padding-left: 10pt;
    align-content: flex-end;
}


/*bouton valider*/

button {
    color: #fffff0;
    border-radius: 2pt;
    border-style: solid;
    background-color: #EB43A3
}


/*footer*/

footer {
    width: auto;
    display: flex;
    align-content: center;
    justify-content: right;
    background-color: #C55394;
    padding: 10px 130px 10px 0px;
}